/*slider {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.slider .slides {
    overflow: hidden;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
}
.slider .slides > li {
    position: absolute;
	z-index: 1;
	overflow: hidden;
    width: 100%;
    height: 100px;
}
.slider .slides > li > img{
    width: 100%;
    height: auto;
}*/

/*.slider .slides > li:first-child:not(:target) {
	    z-index: 1;
	    -webkit-transform: translateY(0%);
	            transform: translateY(0%);
}*/

/*.slider .items {
    display: block;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}
.slider .items > li {
	float: left;
	width: 20%;
}
.slider .items > li > a {
	display: block;
}
.slider .items > li > a > img {
	width: 100%;
	height: auto;
}

.slider .slides li:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
}
.slider .slides li:not(:target) {
	-webkit-animation: hidden 1s 1;
}

@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@-webkit-keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}*/
